.sub-nav
  %h2
    = t :tag_label
    %span
      = @tag
.puzzle-wall.container
  .row.js-endless-scroll
    .span6.left-col
    .span6.right-col
  #loading
    = image_tag "loading.gif"
    %span
      = t :loading
